target/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
lib_managed/
src_managed/
.sw?
.*.sw*
.project
.classpath
.cache
.settings/
.target/
.lib/
BUILD/
RPMS/
SOURCES/
SRPMS/
tags
siteconfig.log*
config.log*
unitTest.log*
capture.log*
cruncher.log*
query.log*
actions/*
*.sublime-project
*.sublime-workspace
.*.un~
oozie/lib
